@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Gruppo&family=Lato&family=Orbitron&family=Righteous&family=Roboto&family=Saira+Stencil+One&family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}

body {
    font-family: 'Righteous', cursive;
    background-color: #1E1E1E;
}

::-webkit-scrollbar {
    display: none;

}


/*----------------------------------------------------------------Active part-----------------------------------------------------------------------------*/
.navbarh.active {
    left: 0;

}

/* #link.active {
    animation: link 1s;
    animation-delay: 1s;
}

@keyframes link {
    from {
        transform: translateX(-100px);

    }


} */

.mousePointer.active {
    border: 1.5px dashed white;

}

#bars.active .line1 {
    transform: translateX(70px);
    background-color: transparent;
}

#bars.active .line2 {
    transform: rotate(-45deg);
    background-color: rgb(255, 255, 255);
}

#bars.active .line3 {
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
}

/*----------------------------------------------------------------Active part-----------------------------------------------------------------------------*/




/*--------------------------------------------------------------------------3 Menu bars-------------------------------------------------------------------------------------------*/
#bars {

    display: none;
    font-size: 30px;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 26px;
    position: fixed;
    cursor: pointer;
    z-index: 2;
    animation: bars 1s;


}

@keyframes bars {
    0% {
        opacity: 0;
         transform: translateX(50px); 
    }

    100% {
        opacity: 1;
         transform: translateX(0px); 
    }

}

#bars .line1,
.line2,
.line3 {
    margin-top: 10px;
    position: fixed;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: .5s ease-in-out;
    border-radius: 5px;
}

#bars .line2 {
    transform: translateY(-10px);
}

#bars .line3 {
    transform: translateY(10px);
}




.navbarh ul {

    margin-top: 0;

}

.navbarh ul li {
    list-style: none;
    text-align: left;

    width: 30vw;

}

.navbarh ul li a {
    transition: .5s;
    color: black;
    text-decoration: none;
}

#link {
    font-size: 9vw;


}

#link a {
    color: rgb(255, 255, 255);
    font-family: 'Righteous', cursive;

}



#link:hover a {

    color: #FFD21D;
    padding: 0 20px;
}

.navbarh {

    position: fixed;
    transition: .5s;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: #1E1E1E;
    /*animation: nav .9s;*/
}

.navbarh .center {

    display: grid;
    place-items: center;
    height: 100%;
}


.sign {
    position: absolute;
    top: 20px;
    left: 30px;
    display: none;
    animation: sign 1s;
}

@keyframes sign {
    0% {
        opacity: 0;
         transform: translateX(-50px); 
    }

    100% {
        opacity: 1;
         transform: translateX(0px); 
    }

}

/*---------------------------------------------------ABOUT------------------------------------------------------------------*/
.about {
    width: 100%;
    height: 100vh;
    background-color: #1E1E1E;
}


.A-back h1 {
    font-family: 'Righteous', cursive;
    letter-spacing: .1em;
    font-size: 15vw;
    color: #FFD21D;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s;
    transform: translate(-50%, -50%);
    animation: h1 2s ease-in-out;


}

@keyframes h1 {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}


.sectionOne {
    /* height: 80vh; */

}




.bio {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 70%;
}

#aboutContent {
    padding-top: 10em;
    display: flex;
    justify-content: center;

}

.img {

    animation: img 1s;
    display: none;
   /* background-color: rgb(4, 4, 4);
     transition: 1s; */
    position: relative;



    width: 30vw;
    height: auto;
    box-shadow: #FFD21D -20px 20px;
    /* #7F1DFF -20px 20px,#FF1D77 -30px 30px */
}

@keyframes img {
    0% {
        transform: translateY(90px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

/* .frame{
    z-index: 1;
   
    position: absolute;
    left: -20px;
    bottom: -20px;
    content: '';
    width: 25vw;
    height: 50vh;
    /* background-color: #FFD21D; 
    border: 2px solid #FFD21D;
    
} */
.img img {
    width: 30vw;
}

#paragraph {
    display: none;
    padding: 3em;
    animation: p 1s;
    opacity: 1;
    text-align: justify;
    font-family: 'Righteous', cursive;
}

@keyframes p {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

#paragraph p span {
    font-size: 30px;
    color: #FFD21D;
}

.s12 ul li img {
    width: 60px;
}

#skill {
    display: none;
    margin-top: 8vh;
    padding-bottom: 30px;
    background-color: #1E1E1E;
    animation: skill 1s;
}

@keyframes skill {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

.skill .a-header h1 {
    text-align: center;
}

#skill .s12 {
    display: flex;
    margin-top: 30px;
}

#skill .s12 .s1 {
    width: 100%;
}

#skill .s12 .s2 {
    width: 100%;
}

#skill h1 {
    font-family: 'Righteous', cursive;
}

#skill ul {
    list-style: none;
}

#s1,
#s2 {
    margin: 0;
    padding: 0;
}

#skill ul li {
    display: flex;
}

.bar {

    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Righteous', cursive;
    height: 20px;


}

.s12 .s1 {
    display: grid;
    place-items: center;
}

.s12 .s2 {
    display: grid;
    place-items: center;
}

/* 
.bar div
{
    text-align: center;
    padding-top: 0px;
    font-family: 'Righteous', cursive;
    background-color:rgb(201, 201, 201);
    border-radius: 20px;
   
    top: 0;
    left: -1px;
    height: 20px;
}
.bar .html {
    
    width: 80%;
   
    
   
}

.bar .css {
    
    width: 80%;

}

.bar .javascript {
   
    width: 40%;
  
}

.bar .php {
    
    width: 30%;
   
}

.bar .illustrator {
    
    width: 80%;
  
}

.bar .lightroom {
    
    width: 90%;
   
}

.bar .effects {
    
    width: 70%;
  
}

.bar .premiere {
   
    width: 60%;
 
} */

/*---------------------------------------------------ABOUT------------------------------------------------------------------*/



.mousePointer {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    position: fixed;
    border: 1.5px dashed rgb(255, 255, 255);
    border-radius: 50%;
    transition: .2s;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 3;
}

@media only screen and (max-width: 1400px) {
    .s12 ul li img {
        width: 50px;
    }

    .bar {
        margin-top: 10px;
    }


}

@media only screen and (max-width: 768px) {
    .img img {
        width: 300px;
    }
    #skill {
        margin-top: 2vh;
    }
    

    .bio {
        display: grid;
        grid-template-columns: auto ;
        justify-content: center;
        width: 90%;
    }
    .imgOut{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .img  {
        width: 300px;
    }
}
@media only screen and (max-width: 575px) {
    #aboutContent{
        padding-top:80px ;
    }
    .img img {
        width: 250px;
    }
    .bio {
        
        width: 100%;
    }
    .img  {
        width: 250px;
    }
    .sign img{
        width: 50px;
    }


    .s12 ul li{
        padding-left: 30px;
    }
    
    .s12 .s1 ul {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #skill .s12 {
        display: block;
    }

    .s12 ul li img {
        width: 48px;
    }

    .bar {
        margin-top: 10px;
    }

    .s12 .s1 {
        display: flex;
        place-items: left;
        padding-left: 20px;
    }

    .s12 .s2 {
        display: flex;
        place-items: left;
        padding-left: 20px;
       
    }

    .sign img {
        width: 25px;
    }

    #bars .line1,
    .line2,
    .line3 {
        margin-top: 3px;

        width: 25px;
        height: 3px;

        border-radius: 5px;
    }

    .mousePointer {
        display: none;
    }
    .social{
        display: none;
    }
}